{% extends "base.html.twig" %}

{% block body %}
    <div id="content">

            <h2>Game Over!</h2>

            <p>
                Oops, you're hanged... The word to guess was <strong>{{game.word}}</strong>.
            </p>
<a href="{{path('app_game_index')}}">Nouvelle partie </a>
        </div>
{% endblock%}
